@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* herda da classe pai */
  color: inherit;
}

body{
  font-family: 'Roboto', cursive;
}
html {
  /* Rolar de forma lenta */
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: #eee;
  height: 80px;
  position: fixed;
}

.navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between; /*  */
  align-items: center;
}

.logo {
  font-size: 2rem;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-items li {
  padding: 10px;
}

#page {
  width: 100%;
  background: #eee;
  color: black;
  padding: 15px;
}

.headline {
  font-size: 2.2rem;
  text-transform:uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 15px;
  padding-top: 4rem;
}

#page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 img na mesma coluna */

}

.images {
  display: inline-block; /* bloqueandro linha do display estatica */
  width: 80%;
}

#footer {
  bottom: 0;
  position: relative;
  width: 100%;
  font-size: 12px;
  background: #222;
  color: #eee;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

#formulario{
  width: 100%;
  background: #eee;
  color: black;
  padding: 15px;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 15px;
  padding-top: 4rem;
}

#formulario-container {
  text-align: center;
  display: flex;
  left: 37%;
  top: 29%;
  width: 100%;
  padding: 8px 0;
  margin: 8px 0;
}

#formulario #formulario-container {
  position:absolute;
  display:block;
}

fieldset
{
width:20%;
height:250px;
}

#footer-ctt {
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: 12px;
  background: #222;
  color: #eee;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}